// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Rating{
    color: #ef006d !important;
    padding-right: 4px;
}

.img-holder{
    float: left;
    width: 204px;
    padding-top: 20px;
}

.card-block{
    width: calc(100% - 204px);
}

.MovieDetailsCard{
    dl{
        margin-bottom: 0px;
    }

    .Rating{
        font-size: 1.0em !important;
    }
}

.MoviePoster{
     text-align: center;
    .Rating{
        font-size: 1.0rem !important;
    }
}

.ReviewMovie{
    .Rating{
        font-size: 1rem !important;
    }

    .col-form-label{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    input{
        line-height: 0.75;
    }
}

.RecentReviews, .RecentMovies{
    padding-top: 60px;
    .content{
        max-height: 200px;
    }

    .card-block{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }

    .Rating{
        font-size: 1.0em !important;
    }

    .review, .movie{
        margin-bottom: 15px;
        max-height: 142px;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

}


.btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  background-color: #007bff;
  background-image: none;
  border-color: #868e96;
}

.sort-by {
  padding: 60px 0 0;
}

.moviesDisplay {
  padding-top: 40px;
  &__card {
    margin-bottom: 20px;
  }
}
.card {
  flex-direction: row;
  border-radius: 0;
  border: 0;

  .img-holder {
    background-color: #fffdc0;
  }
  .card-title {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  .card-block {
    background-color: #fffee0;
  }
}

.fa-star {
  color: #ef006d;
}

.fa-star-o {
  color: #2666eb;
}
dt {
  font-weight: normal;
}
